# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-wheel-metadata/

# Virtual Environment
.venv/
venv/
env/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Test Artifacts
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# Generated Reports
reports/
*.html

# Screenshots
screenshots/

# OS-specific
.DS_Store
Thumbs.db
